<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InsuranceApplication.Properties.Settings.InsuranceClaimConnectionString"
            connectionString="Data Source=insuranceclaim.database.windows.net;Initial Catalog=InsuranceClaim;User ID=charlesroot;Password=Ieamainsuranceclaim123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>